:root {
  --live-indicator-shadow: hsla(0, 82%, 48%, 0.5);
  --black-fogra-30:   hsl(0, 0%, 0%);
  --black-fogra-29:   hsl(0, 100%, 3%);
  --live-indicator:        hsl(0, 100%, 50%);
  --black-red:        hsla(0, 100%, 4%, 0.8);
  --red-black:           hsl(0, 100%, 10%);
  --light-red:           hsl(0, 84%, 56%);
  --off-white:             hsl(0, 0%, 88%);
  --yellow:                hsl(45, 100%, 54%);
  --white:                 hsl(0, 0%, 100%);
  --red:                 hsla(0, 100%, 50%, 0.583);
  --ff-Montserrat: "Montserrat", sans-serif;
  --section-heading: 40px;
  --fs-lg:           22px;
  --fs-md:           17px;
  --fs-sm:           14px;
  --fs-x-sm:         12px;
  --fw-7: 700;
  --fw-6: 600;
  --fw-5: 500;
  --px: 120px;
}